html {
	background: url('./background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo {
	width: 100%;
    margin: 0 auto;
    text-align: center;
    top: 100px;
    position: relative;
}
.logo img {
	width: 75px;
    /*background: #ffb9b9;*/
    border-radius: 200px;
    top: -18px;
    position: relative;

}

.logo-text {
	font-size: 3em;
    color: white;
    font-family: Marion;
    border: 5px solid;
    padding: 15px 50px;
    padding-top: 25px;
}